<div class="container">
    <legend>Update A New Car</legend>
    <div class="mb-3">
      <label for="txtCarName" class="form-label">Car Name</label>
      <input
        type="text"
        [(ngModel)]="carForm.name"
        class="form-control"
        id="txtCarName"
      />
    </div>
    <div class="mb-3">
      <label for="txtAuthor" class="form-label">Buyer</label>
      <input
        type="text"
        [(ngModel)]="carForm.author"
        class="form-control"
        id="txtAuthor"
      />
    </div>
    <div class="mb-3">
      <label for="txtCost" class="form-label">Cost</label>
      <input
        type="number"
        [(ngModel)]="carForm.cost"
        class="form-control"
        id="txtCost"
      />
    </div>
    <button type="button" class="btn btn-dark" (click)="udapte()">Create</button>
  </div>
